/* ==============================================
   COLORS
   ============================================== */


/* ==============================================
   GLOBAL STYLES
   ============================================== */

body{
    background-color: black;
    padding:20px;
}

.logo{
    margin-bottom: 20px;
}

article {
    background-color: grey;
    border-radius: 10px;
}

a{
    font-family: 'Roboto', sans-serif;
    color:Black;
    font-weight:bold;
}

.btn-light{
    font-weight:bold;
}

.btn-light h3{
    font-weight:bold;
    margin-bottom:0px;
    color:black;
    font-size:16px;
}

.btn-primary{
    font-weight:bold;
    background-color: black;
    margin-bottom:20px;
    float:right;
    margin-right:20px;
}

.website{
    width:80px;
}

#accordion{
   margin-top:20px;
}

img{
    margin:20px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

h1{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.social{
    height:50px;
    width: 50px;
}

.footer {
    background-color:  grey;
    padding:12px;
    margin-top:20%
  }

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:white;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
    float: left;
}

#multiCollapseExample1{
    background-color:grey;
}

.card-body{
    background-color:grey;
}

.collapsed{
    color: white;
}

.card-header{
    background-color:rgb(100, 100, 100);
    border:none;
}

.table{
    background-color:grey;
}

.grey {
    background-color:rgb(100, 100, 100);
}

.card{
    border:none;
}

a:hover{
    color:black;
    text-decoration: none;
}



.multi-collapse{
    margin-top:20px;
}

p{
    font-family: 'Roboto', sans-serif;
    color:white;
    size:12px;
}

.btn-primary a:hover{
    background-color:white;
} 



/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (max-width:767px) {
    img {
        width: 100px;
        height: 100px;
        float: left;
    }

    h2 {
        padding-top:15px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color:white;
    }

    h3 {  
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        margin-bottom:105px;
        color:white;
    }

    .btn-light{
        margin-left:20px;
    }

    .table{
        font-size:12px;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    img {
        width: 200px;
        height: 200px;
        float: left;
    }

    h2 {
        padding-top:15px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color:white;
    }

    h3 {  
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-bottom:105px;
        color:white;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1300px) {
}
